/* CustomCursor.css */
.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: rgba(54, 68, 67, 0.993);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease;
  }
  